.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .title {
    margin-top: 20px;
    text-align: center;
  }
  
  .headshot {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .yop, .zone, .aop, .skillgoal {
    margin-top: 20px;
    text-align: center;
  }
  
  .name, .years, .zone, .aop, .skillgoal {
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
  }
  
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid #2f80ed;
  }
  
  .save-button {
    background-color: #3CB371 !important;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    font-size: 20px !important;
    margin-top: 25px !important;
  }
  
  .profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 500px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    background-color: #fff;
  }